dist
node_modules
coverage
.next
assets/
ios/
android/
web-build/
.expo/
.kotlin/
.metro-health-check*
.vscode/
.github/
.husky/
.turbo/
build/
*.log
.env*
.DS_Store
pnpm-lock.yaml
package-lock.json
yarn.lock

scripts/

